SECRET_KEY=chave_secreta_padrao_para_desenvolvimento_local # Garante que o usuario não mude o proprio perfil de acesso
ACCESS_TOKEN_EXPIRE_MINUTES=60 # Tempo logado antes de autenticar de novo
ENVIRONMENT=development # Fase atual do software