SECRET_KEY=chave_secreta_padrao_para_desenvolvimento_local # Chave que assina os tokens JWT. Sem ela ninguém consegue forjar um token (ex: mudar o proprio perfil). OBRIGATÓRIA fora de development
ACCESS_TOKEN_EXPIRE_MINUTES=60 # Tempo logado antes de autenticar de novo
ENVIRONMENT=development # Fase atual do software (development, production...)
